<div class="row">
    <div class="box">
        <div class="col-lg-12">
            <hr>
            <h2 class="intro-text text-center">Carrinho de
                <strong>Compras</strong>
            </h2>
            <hr>
            <div class="table-responsive" ng-show="carrinho.itens.length">
                <table class="table table-condensed display" style="text-align: center">
                    <thead>
                        <td><b>Produto</b></td>
                        <td><b>Preço Unitario</b></td>
                        <td><b>Quantidade</b></td>
                        <td><b>Preço Calculado</b></td>
                        <td><b>Ação</b></td>
                    </thead>
                    <tbody>
                        <tr ng-repeat="item in carrinho.itens">
                            <td>{{item.produto.nome}}</td>
                            <td>{{item.produto.preco | currency}}</td>
                            <td>{{item.qtdeItem}}</td>
                            <td>{{item.valorItem | currency}}</td>
                            <td>
                                <button title="Adicionar um" ng-click="incrementaItem(item.produto._id)" class="btn btn-primary">
                                    <span class="glyphicon glyphicon-plus"></span>
                                </button>
                                <button title="Remover um" ng-click="decrementaItem(item.produto._id)" class="btn btn-warning">
                                    <span class="glyphicon glyphicon-minus"></span>
                                </button>
                                <button title="Excluir item" ng-click="removeItem(item.produto._id)" class="btn btn-danger">
                                    <span class="glyphicon glyphicon-remove"></span>
                                </button>
                            </td>
                        </tr>
                    </tbody>
                    <tfoot>
                        <tr>
                            <td colspan="2">
                                <div class="input-group">
                                    <span class="input-group-addon" id="basic-addon1">Cliente:</span>
                                    <select class="form-control" ng-model="carrinho.cliente" ng-options="cliente._id as cliente.nome for cliente in clientes">
                                    </select>
                                </div>
                            </td>
                            <td><b>{{carrinho.qtdeTotal}}</b></td>
                            <td><b>{{carrinho.valorTotal | currency}}</b></td>
                        </tr>
                    </tfoot>
                </table>
                <button title="Fazer Checkout" ng-click="finalizaCompra(carrinho)" class="btn btn-primary">
                    <span class="glyphicon glyphicon-shopping-cart"></span> Fazer Checkout
                </button>
            </div>

            <div ng-hide="carrinho.itens.length">
                <h4 class="intro-text text-center">Não há produtos no carrinho</h4>
            </div>
        </div>
    </div>
</div>