<div class="row">
     <div class="box">
        <div class="col-lg-12">
            <hr>
            <h2 class="intro-text text-center">Carrinho de
                <strong>Compras</strong>
            </h2>
            <hr>
            <div class="table-responsive">
                <table class="table table-condensed display" style="text-align: center">
                    <thead>
                        <td><b>Item</b></td>
                        <td><b>Preço Unitario</b></td>
                        <td><b>Quantidade</b></td>
                        <td><b>Preço Total</b></td>
                        <td>Acao</td>
                    </thead>
                    <tbody>
                        <tr ng-repeat="item in carrinho.itens">
                            <td>{{item.produto.nome}}</td>
                            <td>{{item.produto.preco | currency}}</td>
                            <td>{{item.qtdeItem}}</td>
                            <td>{{item.valorItem | currency}}</td>
                            <td>
                                <button title="Adicionar um" class="btn btn-primary">
                                    <span class="glyphicon glyphicon-plus"></span>
                                </button>
                                <button title="Remover um" class="btn btn-warning">
                                    <span class="glyphicon glyphicon-minus"></span>
                                </button>
                                <button title="Excluir item" class="btn btn-danger">
                                    <span class="glyphicon glyphicon-remove"></span>
                                </button>
                            </td>
                        </tr>
                    </tbody>
                    <tfoot>
                        <tr>
                            <td>
                                <button title="Finalizar Compra" class="btn btn-primary">
                                    <span class="glyphicon glyphicon-saved"></span>
                                </button></td>
                            <td></td>
                            <td><b>{{carrinho.qtdeTotal}}</b></td>
                            <td><b>{{carrinho.valorTotal | currency}}</b></td>
                        </tr>
                    </tfoot>
                </table>

            </div>
        </div>
     </div>
</div>