<div class="row">
    <div class="box">
        <div class="col-lg-12">
            <hr>
            <h2 class="intro-text text-center">Cadastro de
                <strong>Lançamentos</strong>
            </h2>
            <hr>

            <form method="post" ng-submit="pesquisaLancamento(filtro)">

                <div class="form-group col-md-6">
                    <label>Cliente: </label>
                    <select class="form-control" ng-model="filtro.cliente" ng-options="cliente._id as cliente.nome for cliente in clientes">
                        <option value="">Selecione</option>
                    </select>
                </div>
                <div class="form-group col-md-6">
                    <label>Tipo de Operação: </label>
                    <select class="form-control" ng-model="filtro.tipo" ng-options="tipo._id as tipo.label for tipo in tipos">
                        <option value="">Selecione</option>
                    </select>
                </div>
                <div class="form-group col-md-6">
                    <label>Data Inicial:</label>
                    <div class="input-group date">
                        <input id="dataInicial" ng-model="filtro.dataInicial" datetimepicker datetimepicker-options="{format: 'DD/MM/YYYY', showClear: true, showClose: true}"
                            class="form-control" />
                        <label for="dataInicial" class="input-group-addon btn"><span class="glyphicon glyphicon-calendar"></span></label>
                    </div>
                </div>
                <div class="form-group col-md-6">
                    <label>Data Final:</label>
                    <div class="input-group date">
                        <input id="dataFinal" ng-model="filtro.dataFinal" datetimepicker datetimepicker-options="{format: 'DD/MM/YYYY', showClear: true, showClose: true}"
                            class="form-control" />
                        <label for="dataFinal" class="input-group-addon btn"><span class="glyphicon glyphicon-calendar"></span></label>
                    </div>
                </div>
                <button type="submit" class="btn btn-primary">
				    <span class="glyphicon glyphicon-search"></span> Pesquisar
				</button>
                <a class="btn btn-default" data-toggle="modal" data-target="#myModal">
                    <span class="glyphicon glyphicon-usd"></span> Efetuar Pagamento
                </a>
            </form>

            <hr>

            <div class="table-responsive">
                <table id="tabelaLancamentos" st-table="resultado" st-safe-src="lancamentos" class="table table-condensed display" style="text-align: center">
                    <thead>
                        <tr class="info">
                            <td st-sort="cliente.nome"><b>Cliente</b></td>
                            <td st-sort="data"><b>Data</b></td>
                            <td st-sort="produto"><b>Produto</b></td>
                            <td st-sort="quantidade"><b>Quantidade</b></td>
                            <td st-sort="valor"><b>Valor</b></td>
                            <td st-sort="tipo"><b>Tipo</b></td>
                        </tr>
                    </thead>
                    <tbody>
                        <tr ng-repeat="lancamento in resultado">
                            <td>{{lancamento.cliente.nome}}</td>
                            <td>{{lancamento.data | date: 'dd/MM/yyyy HH:mm:ss'}}</td>
                            <td>{{lancamento.produto}}</td>
                            <td>{{lancamento.quantidade}}</td>
                            <td>{{lancamento.valor | currency}}</td>
                            <td>{{lancamento.tipo === 0 ? 'Compra' : 'Pagamento'}}</td>
                        </tr>
                    </tbody>
                    <tfoot>
                        <tr>
                            <td colspan="2"><b>Total Pago: {{totalPago | currency}}</b></td>
                            <td colspan="2"><b>Total Devido: {{totalDevido | currency}}</b></td>
                            <td colspan="2" ng-style="{color: saldo < 0 ? 'red' : 'green'}"><b>Saldo: {{saldo | currency}}</b></td>
                        </tr>
                        <tr>
                            <td colspan="6" class="text-center">
                                <div st-pagination="" st-items-by-page="10" st-displayed-pages="10"></div>
                            </td>
                        </tr>
                    </tfoot>
                </table>
            </div>
        </div>
    </div>
</div>

<!-- Modal -->
<div id="myModal" class="modal fade" role="dialog">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" ng-click="limpaPagamento()" data-dismiss="modal">&times;</button>
                <h4 class="modal-title text-center">Efetuar Pagamento</h4>
            </div>
            <form role="form" ng-submit="efetuarPagamento(pagamento)">
                <div class="modal-body">
                    <div class="row">
                        <div class="form-group col-lg-12">
                            <label>Cliente</label>
                            <select class="form-control" ng-model="pagamento.cliente" required="required" ng-options="cliente._id as cliente.nome for cliente in clientes">
                            </select>
                        </div>

                        <div class="form-group col-lg-12">
                            <label>Valor</label>
                            <input type="number" step="0.01" required="required" class="form-control" ng-model="pagamento.valor">
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" ng-click="limpaPagamento()" data-dismiss="modal">Fechar</button>
                    <button type="submit" class="btn btn-primary">Salvar</button>
                </div>
            </form>
        </div>
    </div>
</div>