<div class="row">
    <div class="box">
        <div class="col-lg-12">
            <hr>
            <h2 class="intro-text text-center">Cadastro de
                <strong>Lançamentos</strong>
            </h2>
            <hr>
            <div class="table-responsive">    
                <table id="tabelaClientes" st-table="resultado" st-safe-src="lancamentos" class="table table-condensed display" style="text-align: center"> 
                    <thead>
                        <tr class="info">
                            <td><b>Cliente</b></td>
                            <td><b>Data</b></td>
                            <td><b>Produto</b></td>
                            <td><b>Quantidade</b></td>
                            <td><b>Valor</b></td>
                            <td><b>Tipo</b></td>
                        </tr>
                    </thead>
                    <tbody>
                        <tr ng-repeat="lancamento in resultado">
                            <td>{{lancamento.cliente.nome}}</td>
                            <td>{{lancamento.data | date: 'dd/MM/yyyy HH:mm:ss'}}</td>
                            <td>{{lancamento.produto}}</td>
                            <td>{{lancamento.quantidade}}</td>
                            <td>{{lancamento.valor | currency}}</td>
                            <td>{{lancamento.tipo === 0 ? 'Compra' : 'Pagamento'}}</td>
                        </tr>
                    </tbody>
                    <tfoot>
                        <tr>
                            <td colspan="4" class="text-center">
                                <div st-pagination="" st-items-by-page="10" st-displayed-pages="10"></div>
                            </td>
                        </tr>
                    </tfoot>
                </table>
            </div>
        </div>
    </div>
</div>
