<div class="row">
    <div class="box">
        <div class="col-lg-12">
            {{mensagem}}
            <form role="form" ng-submit="efetuarLogin(usuario)">
                <div>
                    <label>Username:</label>
                    <input type="text" ng-model="usuario.username" />
                    <br/>
                </div>
                <div>
                    <label>Password:</label>
                    <input type="password" ng-model="usuario.password" />
                </div>
                <div>
                    <input type="submit" value="Submit" />
                </div>
            </form>
        </div>
    </div>
</div>