<div class="row">
    <div class="box">
        <div class="col-lg-12">
            <hr>
            <h2 class="intro-text text-center">Produtos à
                <strong>Venda</strong>
            </h2>
            <hr>
            <div ng-show="mensagem.texto" class="alert alert-info alert-dismissable text-center">
                    <a href="#" class="close" data-dismiss="alert" aria-label="close">×</a>
                    <strong>{{mensagem.texto}}</strong>
            </div>
            <div class="table-responsive">    
                <table id="tabelaProdutos" st-table="resultado" st-safe-src="produtos" class="table table-condensed display" style="text-align: center"> 
                    <thead>
                        <tr>   
                            <td colspan="4">
                                 <div class="input-group">
                                    <span class="input-group-btn">
                                        <button title="Incluir novo produto" class="btn btn-success" type="button" data-toggle="modal" data-target="#myModal">
                                            <span class="glyphicon glyphicon-plus"></span> Novo
                                        </button>
                                    </span>
                                    <input st-search="nome" class="form-control" placeholder="Pesquisar produto ..." type="search"/>
                                </div>
                            </td>
                        </tr>
                        <tr class="info">
                            <td st-sort="nome"><b>Nome</b></td>
                            <td st-sort="categoria.nome"><b>Categoria</b></td>
                            <td st-sort="preco"><b>Preço</b></td>
                            <td><b>Ação</b></td>
                        </tr>
                    </thead>
                    <tbody>
                        <tr ng-repeat="produto in resultado">
                            <td>{{produto.nome}}</td>
                            <td>{{produto.categoria.nome}}</td>
                            <td>{{produto.preco | currency}}</td>
                            <td>
                                <div class="btn-group">
                                    <!-- Adicionar ao carrinho -->
                                    <button title="Adicionar ao Carrinho" ng-click="adicionaCarrinho(produto)" class="btn btn-primary">
                                        <span class="glyphicon glyphicon-shopping-cart"></span>
                                    </button>
                                </div>
                                <div class="btn-group">
                                    <!-- Editar Produto -->
                                    <button class="btn btn-warning" ng-click="selecionarProduto(produto._id)" data-toggle="modal" data-target="#myModal">
                                        <span class="glyphicon glyphicon-edit"></span>
                                    </button>
                                </div>
                                <div class="btn-group">
                                    <!-- Excluir Produto -->
                                    <button title="Excluir Produto" class="btn btn-danger" ng-click="selecionarProduto(produto._id)" data-toggle="modal" data-target="#myModalYesNo">
                                        <span class="glyphicon glyphicon-remove"></span>
                                    </button>
                                </div>
                            </td>
                        </tr>
                    </tbody>
                    <tfoot>
                        <tr>
                            <td colspan="4" class="text-center">
                                <div st-pagination="" st-items-by-page="10" st-displayed-pages="10"></div>
                            </td>
                        </tr>
                    </tfoot>
                </table>
            </div>
        </div>
    </div>
</div>

<!-- Modal -->
<div id="myModal" class="modal fade" role="dialog">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" ng-click="limparProduto()" data-dismiss="modal">&times;</button>
                <h4 class="modal-title text-center">Adicionar/Editar Produto</h4>
            </div>
            <form role="form" ng-submit="salva()">
                <div class="modal-body">
                    <div class="row">
                        <div class="form-group col-lg-12">
                            <label>Nome</label>
                            <input type="text" class="form-control" ng-model="produto.nome" required="required">
                        </div>
                        <div class="form-group col-lg-12">
                            <label>Categoria</label>
                            <select class="form-control" ng-model="produto.categoria" required="required"
                                ng-options="categoria._id as categoria.nome for categoria in categorias">
                            </select>
                        </div>
                        <div class="form-group col-lg-12">
                            <label>Preço</label>
                            <input type="number" step="0.01" class="form-control" ng-model="produto.preco" required="required">
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" ng-click="limparProduto()" data-dismiss="modal">Fechar</button>
                    <button type="submit" class="btn btn-primary">Salvar</button>
                </div>
            </form>
        </div>
    </div>
</div>

<!-- Modal Pergunta de Segurança -->
<div id="myModalYesNo" class="modal fade" tabindex="-1" role="dialog">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" ng-click="limparProduto()"aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title">Pergunta</h4>
      </div>
      <div class="modal-body">
        <p>Deseja excluir o produto <b>{{produto.nome}}</b>?</p>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal" ng-click="limparProduto()">Close</button>
        <button type="button" class="btn btn-primary" ng-click="removeProduto(produto)">Salvar Mudanças</button>
      </div>
    </div><!-- /.modal-content -->
  </div><!-- /.modal-dialog -->
</div><!-- /.modal -->